.react-select__control {
  border-radius: 16px !important;
}

.react-select__value-container {
  padding: 10px 20px 9px !important;
}

.react-select__menu{
  border-radius: 16px !important;
}

.react-select__menu-list{
  padding: 10px !important;
}

.react-select__indicator-separator {
  display: none;
}